<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%if user_signed_in?%>
    <li><%=current_user.name%></li>
    <%=link_to '로그아웃', session_path(current_user), method: 'delete'%>
  <%else%>
    <%=link_to '회원 가입', new_user_path%>
    <%=link_to '로그인', new_session_path%>
  <%end%>

<%= yield %>

</body>
</html>
